agm-map {
    height: 400px;
}


#map-canvas {
    height: 500px;
    width: 500px;
}
#map-rounded {
    height: 300px;
    width: 300px;
    border-radius: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
}
#map-rounded .gm-style-cc {
    display: none;
}